/* Icons */
@import '../assets/admin/vendor/fonts/boxicons.min.css';

/* Core CSS */
@import '../assets/admin/vendor/css/core.min.css';
@import '../assets/admin/vendor/css/theme-default.css';
@import '../assets/admin/css/demo.css';

/* SweetAlert2 CSS */
@import 'sweetalert2/dist/sweetalert2.min.css';

/* Select2 Tabler Integration */
@import './custom/select2-tabler.css';