/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Vendors */
@import '../assets/sys/vendor/fonts/boxicons.min.css';
@import '../assets/sys/vendor/core.min.css';
@import '../assets/sys/vendor/theme-default.css';
@import '../assets/sys/vendor/choices.min.css';

/* Perfect Scrollbar (from original assets-sys) */
@import '../assets/sys/vendor/libs/perfect-scrollbar/perfect-scrollbar.css';

/* Custom */
@import '../assets/sys/demo.css';