/* 
 * Sys Section - Tabler UI Theme
 * This CSS entry point is for the System Management section only.
 */

/* Inter Font (Tabler's default sans-serif) */
@import url('https://rsms.me/inter/inter.css');

/* Tabler Core CSS */
@import '@tabler/core/dist/css/tabler.min.css';

/* Tabler Vendors (for third-party integrations) */
@import 'datatables.net-bs5/css/dataTables.bootstrap5.css';
@import '@tabler/core/dist/css/tabler-vendors.min.css';

/* Tabler Themes (for theme customization) */
@import '@tabler/core/dist/css/tabler-themes.css';

/* Tabler Icons Webfont */
@import '@tabler/icons-webfont/dist/tabler-icons.min.css';


/* Choices.js CSS for select dropdowns */
@import '../assets/sys/vendor/choices.min.css';

/* Fix issue with margin-left on scroll window */
@media (min-width: 992px) {

    :host,
    :root {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}